*,
*:before,
*:after {
  box-sizing: border-box;
  vertical-align: top;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: inherit;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

html,
#root,
body {
  height: 100%;
}

.scrollHidden {
  overflow-x: hidden
}


.swiper {
  padding: 50px 0;
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  padding: 50px 0;
}

.swiper-slide {
  position: relative;
  width: 50%;
  height: auto;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}

.swiper-lazy-preloader {
  color: #00CCFF;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #000;
  transition: transform 0.2s;
}

.swiper-button-disabled::after {
  transform: scale(0);
}

.swiper-pagination-bullet {
  background-color: #00CCFF;
  border-radius: 10px;
  width: 30px;
  height: 15px;
}

/* Когда стали переходить - эффект исчезновения */
.page-exit {
  opacity: 1;
  transform: translateX(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(100%);
}

/* Когда перешли на страницу - эффект появления */
.page-enter {
  animation: fideEnd 400ms;
}

/* .page-enter-active {
  transform: scale(1);
} */

.page-enter-active,
.page-exit-active {
  transition: transform 400ms, opacity 500ms;
}

@keyframes fideEnd {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0);
  }
}