*,
*:before,
*:after {
  box-sizing: border-box;
  vertical-align: top;
  margin: 0;
  padding: 0;
  border: none;
  font-size: inherit;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

:root {
  --swiper-theme-color: #00CCFF;
}

html,
body {
  min-height: 100%;
  background-color: #15171911;
}

#root {
  height: 100%;
}

.swiper {
  padding: 50px 0;
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  padding: 50px 0;
}

.swiper-slide {
  position: relative;
  width: 40%;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #00CCFF;
  transition: transform 0.2s;
}

.swiper-button-disabled::after {
  transform: scale(0);
}

.swiper-pagination-bullet {
  background-color: #00CCFF;
  border-radius: 10px;
  width: 30px;
  height: 15px;
}

/* Когда стали переходить - эффект исчезновения */
.page-exit {
  animation: fadeOut 0.4s;
}

/* .page-exit-active {
  opacity: 0;
} */

/* Когда перешли на страницу - эффект появления */
.page-enter {
  animation: fadeEnd 0.4s;
}

/* .page-enter-active {
  opacity: 1;
} */

/* .page-enter-active,
.page-exit-active {
  transition: opacity 300ms;
} */

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeEnd {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}