*,
*:before,
*:after {
  box-sizing: border-box;
  vertical-align: top;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: inherit;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
}

html,
#root,
body {
  height: 100%;
}